@import './mixins.scss';

.about {
  margin: 24px 24px 48px;

  @include desktop {
    margin: 24px auto;
    max-width: 1024px;
  }

  &-text {
    margin: 0;
    margin-bottom: 12px;
  }

  &-img {
    width: 100%;
  }

  &-container-grid {
    display: grid;
    max-width: 1200px;
    margin: 12px auto;
    grid-template-columns: repeat(auto-fill, minmax(120px, 50px));
    grid-gap: 18px;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  &-h4,
  &-h5 {
    margin: 0;
  }

  &-h4 {
    margin-bottom: 24px;
  }

  &-h5 {
    margin-bottom: 18px;
  }
}

@media (min-width: 320px) and (max-width: 580px) {
  .projects {
    > .grid-container > a > img {
      width: 300px;
    }
  }

  .statistics {
    > .grid-container > img {
      width: 300px;
    }

    > .about-h4 {
      padding-bottom: 40px;
    }
  }
}
