.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 36px;
  background-color: #d6006b;
  padding: 5px;
  text-align: center;

  &__span {
    font-size: 18px;
    font-weight: 600;
    color: #79db75;

    &--link {
      color: #79db75;

      &:hover {
        color: #fabada;
      }
    }
  }
}
