.header {
  &-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 24px auto 0;

    > div {
      width: 40%;
      display: flex;
      justify-content: space-between;
    }
  }

  &-title-text {
    display: inline-block;
    margin-left: 24px;
    font-size: 30px;
    font-weight: bold;
  }

  &-button {
    &-add,
    &-about,
    &-back {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0 0 5px 0px #333;
      transition: 0.5s all cubic-bezier(0.68, -0.12, 0.78, 1.6);
      font-size: 18px;
      color: white;
      padding: 12px;
      border: none;
      cursor: pointer;
      z-index: 2;

      &:hover {
        background-color: #79db75;
        border-radius: 10px;
        width: 120px;
        span {
          display: initial;
        }

        i {
          display: none;
        }
      }

      &:disabled {
        background-color: #cccccc;
        color: #666666;
      }

      > i {
        font-size: 24px;
        transition: 0.5s all ease;
      }

      > span {
        display: none;
        transition: 0.5s all ease;
      }

      > input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    &-add {
      background-color: #d6006b;
      left: 36px;
      bottom: 48px;
    }

    &-about {
      background-color: darkblue;
      right: 36px;
      bottom: 48px;
    }

    &-back {
      background-color: darkblue;

      top: 24px;
      right: 36px;
    }
  }
}
