/** List **/

.preview {
  &-image {
    width: 100%;
    border-radius: 20px;
    user-select: none;
    animation: blureffect 1s ease-in;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: #ffe6f2 0px 0px 0px 3px, #ffb3d9 0px 0px 0px 6px, #ff66b3 0px 0px 0px 9px, #ff1a8c 0px 0px 0px 12px,
        #d6006b 0px 0px 0px 15px;
    }
  }

  &-title {
    text-align: center;
    padding: 10px;
    margin-top: 12px;
    background-color: white;
    border-radius: 10px;
  }
}

/* Zoom in Keyframes */
@keyframes blureffect {
  0% {
    filter: blur(10px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
